<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>問題名</th>
      <th>問題文</th>
      <th>flag</th>
      <th>得点</th>
      <th>ジャンル</th>
      <th>公開</th>
      <th>最速正答者</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @admin_problem.title %></td>
        <td><%= @admin_problem.question %></td>
        <td><%= @admin_problem.flag %></td>
        <td><%= @admin_problem.point %></td>
        <td><%= @admin_problem.genre.name %></td>
        <td><%= '済' if @admin_problem.opened %></td>
        <td><%= @admin_problem.user.account if @admin_problem.user.present? %></td>
      </tr>
  </tbody>
</table>

<%= link_to 'Edit', edit_admin_problem_path(@admin_problem) %> |
<%= link_to 'Back', admin_problems_path %>
