<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>No.</th>
      <th>問題名</th>
      <th>得点</th>
      <th>ジャンル</th>
      <th>回答状況</th>
    </tr>
  </thead>
  <tbody>
    <% @problems.each do |problem| %>
      <tr <%= problem_solved problem %>>
        <td><%= problem.id %></td>
        <td><%= link_to problem.title, problem_url(problem) %></td>
        <td><%= problem.point %></td>
        <td><%= problem.genre.name %></td>
        <td><%= problem.users.length %> solved</td>
      </tr>
    <% end %>
  </tbody>
</table>
