<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>チーム名</th>
      <th>回答済み</th>
      <th>得点</th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
        <td><%= team.problems.pluck(:title).join(', ') %></td>
        <td><%= team_point team %> (<%= team_point_base team %> + <%= team_point_special team %>)</td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= form_for @team, :url => {:controller => 'admin_teams'} do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label 'NEWチーム名' %>
    <%= f.text_field :name, :class => "form-control" %>
  </div>

  <div class="actions set-right"">
    <%= f.submit :class => "btn btn-primary" %>
  </div>
<% end %>
