<!DOCTYPE html>
<html>
<head>
  <title>ScoreServer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if user_signed_in? and current_user.administor? %>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to '自治ねCTF', admin_index_url, {:class => "navbar-brand"} %>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav">
        <li class="dropdown <%= 'active' if controller.controller_name.match(/problems/).present? %>">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">問題<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/admin/problems">管理者用</a></li>
            <li><a href="/">一般用</a></li>
          </ul>
        </li>
        <li <%= ' class=active' if controller.controller_name == 'admin_genres' %>><a href="/admin/genres">ジャンル</a></li>
        <li <%= ' class=active' if controller.controller_name == 'admin' and controller.action_name == 'flag' %>><a href="/admin/flag">回答</a></li>
        <li class="dropdown <%= 'active' if controller.controller_name.match(/score/).present? or (controller.controller_name == 'admin' and controller.action_name == 'score') %>">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">スコア<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/admin/score">管理者用</a></li>
            <li><a href="/score">一般用</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= current_user.screen_name %> <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to 'ログアウト', destroy_user_session_url, method: :delete %></li>
            <li><%= link_to 'パスワード変更', edit_user_registration_path(@user) %></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<% else %>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to '自治ねCTF', root_url, {:class => "navbar-brand"} %>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav">
        <li <%= ' class=active' if controller.controller_name == 'problems' %>><a href="/">問題</a></li>
        <li <%= ' class=active' if controller.controller_name == 'score' %>><a href="/score">スコア</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
        <li><a><%= current_user.point %> pt</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= current_user.screen_name %> <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to 'ログアウト', destroy_user_session_url, method: :delete %></li>
          </ul>
        </li>
      <% else %>
        <li><%= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter) %></li>
      <% end %>
      </ul>
    </div>
  </div>
</nav>
<% end %>

<% if controller.controller_name == 'sessions' %>
  <div id="wrapper" class="devise">
<% elsif controller.controller_name == 'registrations' %>
  <div id="wrapper" style="width: 600px;">
<% else %>
  <div id="wrapper">
<% end %>
  <%= yield %>
</div>
</body>
</html>
